[submodule "optimize_v2/wlsops-hack"]
	path = optimize_v2/wlsops-hack
	url = https://github.com/QianrenLi/wlsops-hack.git
	branch = 8812au
[submodule "optimize_v2/stream-replay"]
	path = optimize_v2/stream-replay
	url = https://github.com/lasso-sustech/stream-replay.git
